{% extends 'template.html' %}
{#{% load django_tables2 %}#}
{#{% load render_table from django_tables2 %}#}

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script src="http://students.mimuw.edu.pl/~jk334678/sudoku/js/bootstrap.js"></script>


<h3>{% block title %} Select a room {% endblock%}</h3>
{% block content %}
{#<form class="form-horizontal" role="form" method="post"><input type='hidden' name='csrfmiddlewaretoken' value='ZH8fSGSm8deTbuaJ1BWu1tRvFI20TjuF' />#}
{#<input id="id_hidden_field" name="hidden_field" type="hidden" />#}
<table class="table">

	<thead>
		<tr>
				<th>
				    Name
				</th>
				<th>
				    Capacity
				</th>
				<th>
                    Description
                </th>
		</tr>
	</thead>
	<tbody>
				{% for room in rooms %}
			<tr>
			<td>{{ room.name }}</td>
			<td>{{ room.capacity }}</td>
			<td>{{ room.description }}</td>
			<td>
				<button class="btn btn-primary btn-small" data-toggle="modal" id="przycisk" data-target="#myModal"
					onclick="book('{{ room.id }}')" >
                    {% csrf_token %}
                    Reserve
                </button>

			</td>
			<br>
			</tr>
			{% endfor %}
	</tbody>

</table>
{#    </form>#}

    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Make a reservation</h4>
          </div>
          <div class="modal-body">
             <div id="nic">NIC</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        function book(id) {
                var jqxhr = $.ajax( "/reserve/ajax_term/get/" + id, {type:"GET",
                    data: {'room_id': id} } )
                .done(function(data) {
                    console.log( "success" );
                     $(".modal-body").html(data);
                    })
                .fail(function() {
                    console.log( "error" );
                    })
                .always(function() {
                    console.log( "complete" );
                    });
                }
    </script>
{% endblock %}

{% block navigate %}
    <hr>
    <a class="btn btn-primary" href="/reserve/search" role="button">Search engine</a>
{% endblock %}