{% load render_table from django_tables2 %}

<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

        <title>Reservations</title>
    </head>

    <script src="/static/jquery.js"></script>

    <body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/reserve/reservations">My reservations</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                    <li> <a href="{% url 'userlogout' %}">Log out {{ user.username }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="span12">
                {% if not user.is_authenticated %}
                        <h3 style="text-align: center"> Please log in</h3>
                        <br/>
                        <p><form action="{% url 'userlogin' %}" method="POST" style="text-align: center" >
                            {% csrf_token %}
                            <input type="text" name="username">
                            <input type="password" name="password">
                            <button class="btn btn-info" role="button" onclick="login()">Log in</button>
{#                            <input type="submit" value="Log in">#}
                        </form></p>
                {% endif %}

                {% if messages %}
                    <hr>
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if user.is_authenticated %}
                    <p align = 'center'>
                        <a class="btn btn-info" href="/reserve/list/" role="button">Make a reservation</a>
                    </p>

                    <hr>
                        {% block main %}

                            <h3>
                                {% block title %}
                                {% endblock%}
                            </h3>

                            {% block content %}
                            {% endblock %}

                            {% block navigate %}
                            {% endblock %}

                        {% endblock %}
                </div>
                {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Choose a date</h4>
          </div>
          <div class="modal-body">
              <div class="panel-group" id="accordion">

              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>



<script src="/static/scripts.js"></script>
<script src="http://students.mimuw.edu.pl/~jk334678/sudoku/js/bootstrap.js"></script>

<script>
    $(document).ready(function ()
    {
        fetchData();
    });

    window.applicationCache.addEventListener("error", function(e) {
{#        alert("Error fetching manifest: a good chance we are offline");#}
        window.location.replace("/static/offline.html");
    });

    function login()
    {

    }
</script>

</html>